<% include partials/header.ejs%>
<!-- Main style sheet -->
<link rel="stylesheet" href="../../assets/css/customer.css" />
</head>
<body>
<% include partials/navigation.ejs%>
<!-- start wrapper section -->
    <section id="customers" class="my-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <a class="wedgit">
                        <div class="wedgit-header"><h4><strong>customers</strong> this month</h4></div>
                        <div class="wedgit-icon"><span class="h2">10</span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <a class="wedgit">
                        <div class="wedgit-header"><h4><strong>total</strong> customers</h4></div>
                        <div class="wedgit-icon"><span class="h2">120</span></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- end wrapper section -->
 <!-- start table of content -->
 <section id="all-customers" class="my-5">
        <div class="container">
            <div class="row content-title">
              <h2><label>our happy customers </label></h2>
            </div>
            <% if(customers.length>0){%>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th class="hidden-xs">Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody id='table'>
                    <% customers.forEach((customer ,index)=>{ %>
                        <tr>
                            <th scope="row"><%=customer._id%></th>
                            <td scope="row"><%= customer.UserName %></td>
                            <td scope="row"><%= customer.Email %></td>
                            <td scope="row"><%= customer.Phone %></td>
                            <td scope="row"><%= customer.Address %></td>
                        </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <%}else {%>
                    <p class="text-center">No customers found Here  ^_^</p>
                <%}%>
                </tbody>
            </table>
            <div class="row mt-4">
                <nav class="justify-content-end">
                    <ul class="pagination pagination-info mb-0">
                    <%for (let i=1 ;i<=Math.ceil(total/2);i++){%>
                        <%if (pageNo==i){%>
                            <li class="page-item active"><a class="page-link" href="<%= '/api/customers/'+ i%>"><%=i%></a></li>
                        <%}else{%>
                            <li class="page-item "><a class="page-link" href="<%= '/api/customers/'+ i%>"><%=i%></a></li>
                        <%}%>
                    <%}%>
                    
                    </ul>
                </nav>
            </div>
        </div>
        
    </section>
    <section id="cust-info">
        <div class="container" style="display:none">
            <div class="row">
                <div class="col-6 p-5">
                    <form >
                        <h3>customer info:</h3>
                        <label for="name">name :</label>
                        <p class="d-inline">Lorem ipsum dolor sit amet.</p>
                        <br />
                        <label for="ID">id :</label>
                        <p class="d-inline">SDKF45.</p>
                        <br />
                        <label for="email">email :</label>
                        <p class="d-inline">jdoe@gmail.com.</p>
                        <br />
                        <label for="telephone">telephone :</label>
                        <p class="d-inline">+99 854 785 478</p>
                        <br />
                        <label for="text">address :</label>
                        <p class="d-inline">17 Street name here , city name .</p>
                        <br />
                    </form>
                </div>
                <div class="col-6 p-5">
                        <img src="img/custmore1.jpeg" alt="profil-img" class="img-fluid ">
                </div>
            </div>
           
        </div>
    </section>


    <!-- End table of content -->
    