<% include partials/HomeHeader.ejs%>
<!-- Main style sheet -->
<link rel="stylesheet" href="../../assets/css/products.css" />
</head>
<body>
<% include partials/Homenavigation.ejs%>

    <!-- Start for header -->
    <header>
        <div class="overlay d-md-block text-center">
            <div id="wavePart"></div>
            <div class="container">
            <h1 class="display-2">our products</h1>
            <h4>
                “Let's face it, a nice creamy chocolate cake does a lot for a lot of
                people; it does for me.” —Audrey Hepburn. “
            </h4>
            <button data-scroll="#menu" class="btn  btn-lg mybutton "><span>explore</span></button>
            </div>
        </div>
    </header>
    <!-- End for header -->
    <br />
    <br />
    <br />
    <!-- start offer section -->
    <section id="offer" class="topPart">
        <div class="container">
            
        </div>
    </section>
    <!-- end offer section -->
    
    <!-- Start section of menu -->
    <section id="menu" class="py-5" >
        <div class="container">
            <div class="col-md-12">
            <h3 class="text-center">Our menu</h3>
            <% include partials/messages.ejs %>  
            <p class="text-center text-muted">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
            </p>
            <!-- here the more details abou offer of the week -->
            <div class="menu-container">
                <img src="../assets/imgs/menu.jpg" class="img-fluid" alt="menuImg"/>
            </div>
            </div>
            <!-- <div class="row pt-5">
            <div class="col-md-6">
                <div class="menu-part">
                <h2 class="menu-heading first" style=" padding-left: 50px;">
                    Western Sweets
                </h2>
                <ul>
                    <li>
                    <div class="content">
                        <figure>
                        <a href="/productDescription"> <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>sweets</h4></a>
                        <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                    </div>
                    </li>
                    
                    <li>
                    <div class="content">
                        <figure>
                        <a href="/productDescription"> <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a></a>
                        </figure>
                        <div>
                        <a href="/productDescription"><h4>sweets</h4></a>
                        <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                    </div>
                    </li>
                    <li>
                    <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                        <a href="/productDescription"><h4>sweets</h4></a>
                        <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                    </div>
                    </li>
                    <li>
                    <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                        <a href="/productDescription"><h4>sweets</h4></a>
                        <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="menu-part">
                <h2 class="menu-heading second" style="  padding-left: 80px;">
                    oriental
                </h2>
                <ul>
                    <li>
                    <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                        <a href="/productDescription"><h4>sweets</h4></a>
                        <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                    </div>
                    </li>
                    <li>
                    <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                        <a href="/productDescription"><h4>sweets</h4></a>
                        <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                    </div>
                    </li>
                    <li>
                    <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                        <a href="/productDescription"><h4>sweets</h4></a>
                        <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                    </div>
                    </li>
                    <li>
                    <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                        <a href="/productDescription"><h4>sweets</h4></a>
                        <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-6">
                <div class="menu-part">
                    <h2 class="menu-heading third" style="  padding-left: 80px;">
                        cakes
                    </h2>
                    <ul>
                    <li class="">
                        <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>cakes</h4></a>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                        </div>
                        <div class="price">$17.50
                        <br>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>cakes</h4></a>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                        </div>
                        <div class="price">$17.50
                            <br>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>cakes</h4></a>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                        </div>
                        <div class="price">$17.50
                            <br>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>cakes</h4></a>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                        </div>
                        <div class="price">$17.50
                            <br>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
                <div class="col-md-6">
                <div class="menu-part">
                    <h2 class="menu-heading forth" style="  padding-left: 80px;">
                        Pastry
                    </h2>
                    <ul>
                    <li>
                        <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>cakes</h4></a>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                        </div>
                        <div class="price">$17.50
                            <br>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>cakes</h4></a>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                        </div>
                        <div class="price">$17.50
                            <br>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>cakes</h4></a>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                        </div>
                        <div class="price">$17.50
                            <br>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                        <figure>
                            <a href="/productDescription"><img
                            src="../assets/imgs/imgGallery1.jpeg"
                            class="img-fluid"
                            alt="product1"
                        /></a>
                        </figure>
                        <div>
                            <a href="/productDescription"><h4>cakes</h4></a>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                        </div>
                        <div class="price">$17.50
                            <br>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <img src="../assets/imgs/rating.png" class="img-fluid" alt="rtingImg"/>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
            </div> -->
            <br>
            <div class="row by-2 mb-3 text-center ">
                <div class="col-12 ">
                    <button class="btn btn-outline-primary btn-group btn-group-lg" role="group" id="tap-button"><a href="/product" style="color: #5d284f;"><span>All</span></a></button>  
                    <%categories.forEach((category)=>{%>
                    <button class="btn btn-outline-primary btn-group btn-group-lg" role="group" id="tap-button"><a href="/product/select/<%=category.CategoryName%>" style="color: #5d284f;"><span><%=category.CategoryName%></span></a></button>
                    <%})%>
                </div>
            </div>
            <div class="row" id="gallery">
                    <%products.forEach((Product)=>{%>
                <div class="col-lg-4 col-sm-6 col-10 my-3 store-item cacks" style="display: block;">
                    <div class="card" style="
                    height: 18em">
                        <div class="img-container">
                            <img src="../../assets/imgs/productIMGS/<%=Product._id%>.<%=Product.ProIMG.split('.')[1]%>" alt="<%=Product.ProIMG%>" class="card-img-top store-img">
                            <span class="store-item-icon">
                                <a href="/api/cartOrders/add/<%=Product._id%>"><i class="fas fa-shopping-cart"></i></a>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between text-capitalize">
                                <h5 id="store-item-name"><a href="/productDescription/<%= Product._id %>"><%= Product.Pro_Name %></a></h5>
                                <h5 class="store-item-value">$ <strong d="store-item-price" class="font-weight-bold" style="color: #58274e;
                                    font-size: 18px;"><%= parseFloat(Product.Pro_Price).toFixed(2) %></strong>
                                </h5>
                                <img src="../assets/imgs/rating.png" style="width:100px ;height:30px" alt="rtingImg"/>
                                
                            </div>
                        </div>
                    </div>
                    <!-- end of card -->
                </div>
                <%})%>
            </div>
            <div class="row mt-4">
                    <nav class="justify-content-end">
                        <ul class="pagination pagination-info mb-0">
                        <%for (let i=1 ;i<=Math.ceil(total/5);i++){%>
                            <%if (pageNo==i){%>
                                <li class="page-item active"><a class="page-link" href="<%= '/product/' + i%>"><%=i%></a></li>
                            <%}else{%>
                                <li class="page-item "><a class="page-link" href="<%= '/product/' + i%>"><%=i%></a></li>
                            <%}%>
                        <%}%>
                        
                        </ul>
                    </nav>
                </div>
            <div class="row ">
            <div class="col-3 text-center">
                <button class="btn btn-lg mybutton"style="color: white" ><a href="/api/cartOrders">go to your shopping cart <i class="fas fa-shopping-cart"></i></a></button>
            </div>
            </div>
        </div>
    </section>
    <!-- End section of menu -->
    <br />
    <br />
    <br />
    <br />
    <br />
      
    
<% include partials/Homefooter.ejs%>

<% include partials/Homescripts.ejs%>
